div #geolocalisation {
    display: inline;
}

#geolocalisation #locate-user-button {
    width: 100px;
    height: 50px;
    border-radius: 25%;
    margin: 2% 5%;
}

#geolocalisation #locate-adress {
    width: 100px;
    height: 50px;
    border-radius: 25%;
    margin: 2% 5%;
}

#geolocalisation #get-adress {
    width: 100px;
    height: 50px;
    margin: 2% 5%;
}

#slideout {
    position: fixed;
    top: 80px;
    left: 0;
    width: 75px;
    padding: 10px 0;
    text-align: center;
    background: #03C9A9;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}
#slideout_inner {
    position: fixed;
    top: 20px;
    left: -80%;
    background: #03C9A9;
    width: 80%;
    height: 75%;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    text-align: left;
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 5px;
}

#slideout:hover {
    left: 80%;
    background: rgba(3, 201, 169, 0.2);
    box-shadow: 3px 3px 1px grey;
}
#slideout:hover #slideout_inner {
    left: 0;
    box-shadow: 5px 5px 3px grey;
}
#cadrewidget {
    height: 100%; width: 100%;
}
#map {
    height: 80%; margin: 6px;
}
